<h1>EAT-DA-BURGER</h1>

<div class="container">
    <div class="newBurgers">
        {{#each bugers}}
            {{#unless devoured}}
                <div class="burgerName">{{id}}. {{burger_name}}<button class="devour" data-id="{{id}}"</div>
    </div>
</div>